.dd-wrapper .dd-header ,.dd-list-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #D3D3D3;
    border-radius: 15px;
    color: #C4C4C4;
    padding: 7px;
    background-color: white;
}
.dd-list{
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid #D3D3D3;
    border-radius: 15px;
}
.dd-list-item{
    transition: 0.2s;
    border: none;
}
.dd-list-item:hover{
    background-color: #ebebeb;
}